.app {
  text-align: center;
  font-family: 'Courier Prime', monospace;
}

.title {
  margin-top: 50px;
}

.instructions {
  margin: 20px auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input, .form button {
  margin: 10px auto;
}